body {
  background-color: #A2D2FF;
  display: grid;
  grid-template-columns: 1.3fr 4fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
  height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
  padding: 30px 40px 10px 30px;
  background-color: #ebf5fe;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 30px;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
  box-shadow: 2px 2px 5px #7fa5c8;
}

header p{
    font-weight: bold;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  border-radius: 100px;
  width: 100%;
  background-color: #A2D2FF;
  border: none;
}

.user {
  display: grid;
  grid-template-columns: 50px 50px max-content;
  justify-content:end;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
  padding-right: 10px;

}
.notification {
  justify-self: right;
}

.user-pfp {
  height: 50px;
  border-radius: 50%;
}

.profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile img{
    height: 70px;
    width: auto;
    border-radius: 50%;
}

.greetings{
    font-size: 0.8rem;
}

.profile-name{
    font-size: 1.3rem;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    padding:0px;
}

nav a{
    background-color: #FFAFCC;
    padding: 5px 20px;
    border-radius: 100px;
}

aside {
  background-color: #ffafcc;
  grid-row: 1/4;
}

.trending {
  grid-column: 3/4;
}
